<html>
    <title>
   
    </title>
    <body>
      

        <table border="1">

{%for m in pcs %}
    <tr> 
    <td> {{m.pc}}</td>
    <td> {{m.marque}}</td>
    <td> {{m.lien}}</td>
</tr>
    {%endfor%}
    

</table>
       
    </body>
</html>
